@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 23%, 16%);
}
img {
  width: 100%;
}
.container {
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  width: 50%;
}
.header-text {
  color: hsl(150, 100%, 66%);
  font-size: 18px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
.text-content {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  margin: 1rem 0;
  text-align: center;
}
.divider {
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-dice {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  border: 0;
  outline: none;
  padding: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.icon-dice:hover {
  box-shadow: 1px 4px 39px 10px hsl(150, 100%, 66%);
  -webkit-box-shadow: 1px 4px 39px 10px hsl(150, 100%, 66%);
  -moz-box-shadow: 1px 4px 39px 10px hsl(150, 100%, 66%);
}

@media (max-width: 991px) {
  .container {
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  .container {
    width: 80%;
  }
}
